<div class="posts-container">
  <div class="posts">
      <h1>あなたのメッセージ</h1>
      <%= render 'posts/posts', posts: posts %>
  </div>
</div>
<% if user_signed_in? %>
    <%= render 'shared/navbar' %>
<% end %>