<body class="relative bg-gradient-to-b 
    from-gray-900 
    via-blue-900 
    to-blue-900 
    text-white 
    h-screen">

    <div class="absolute">
        <%= image_tag('stars.png')%>
    </div>
</body>