<div class="posts-container">
  <div class="posts">
    <h4 class="mb-6">ねぎらいのほしに届いたメッセージ</h4>
    <%= render 'posts/posts', posts: @posts %>
    <% if user_signed_in? %>
      <%= render 'shared/textbox' %>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'shared/navbar' %>
<% end %>
<% if !user_signed_in? %>
  <%= render 'shared/back_home' %>
<% end %>