.posts-container {
    padding: 0 28px;
    color: white;
    .posts {
        padding-bottom: 100px;
    }
    .my-post {
        width: 100%;
        position: relative;
        margin: 3rem auto;
        color: black;
        .icon {
            max-width: 100%;
            position: absolute;
            left: -2rem;
            top: 1.2rem;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        .message-content {
            display: inline-block;
            position: relative;
            padding: 5px 10px 5px 10px;
            border-radius: 12px;
            background: #f8faff;
            margin-left: 2rem;
            width: 100%;
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 28px;
                left: -22px;
                border: 12px solid transparent;
                border-right: 12px solid #f8faff;
            }
            .edit-field {
                width: 100%;
                position: relative;
                cursor: pointer;
                .edit-textarea {
                    border-radius: 4px;
                    background-color: #f8faff;
                    width: 100%;
                }
            }
            p {
                margin: 0.3rem auto;
            }
            .side-bar {
                text-decoration: none;
                width: 100%;
                .react-icon {
                    text-decoration: none;
                    .click-icon {
                        transition: all .3s ease;
                        &:active {
                            transform: scale(1.2);
                        }
                    }
                    .icon-count {
                        text-decoration: none;
                        color: black;
                        font-size: 0.6rem;
                        margin-right: 0.2rem;
                    }
                    .icon-text {
                        text-decoration: none;
                        color: black;
                        font-size: 0.4rem;
                        margin-right: 0.4rem;
                    }
                }
                .edit-icons {
                    font-size: .5rem;
                    padding: .2rem;
                    .js-edit-button {
                        margin-right: 1rem;
                    }
                    .delete-icon {
                        color: rgb(53, 52, 52);
                        text-decoration: none;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    .new-post {
        position: relative;
        width: 100%;
        padding-bottom: 100px;
        margin-bottom: 100px;
        .post_form-text {
            width: 100%;
            border: 4px double #ddd;
            margin: 1.5rem 0;
            padding: 0;
            position: absolute;
            border-radius: 12px;
        }
        .send {
            font-size: 1rem;
            background: transparent;
            border: 1px solid rgb(247, 240, 240);
            border-radius: 14px;
            color: white;
            letter-spacing: 5px;
            line-height: 32px;
            text-decoration: none;
            text-align: center;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            vertical-align: middle;
            width: 20%;
            position: absolute;
            right: 0;
            top: 90px;
            &:hover {
                background: rgb(204, 191, 15);
                text-decoration: none;
            }
        }
    }
}
.shared-icons {
    font-size: 2rem;
    a {
        text-decoration: none;
        color: white;
        transition: all .3s;
        &:hover {
            opacity: .4;
            color: white;
        }
    }
}
.nav-footer {
    height: 50px;
    position: fixed;
    display: block;
    background: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        li {
            flex: 1;
            &:hover {
                border-top: 5px solid #f8e750;
            }
            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                height: 50px;
                color: #213074;
                &:hover,
                :focus {
                    text-decoration: none;
                    color: #dab927;
                    background-color: #fffffe;
                }
                i {
                    font-size: 18px;
                }
                span {
                    font-size: 12px;
                    line-height: 1.2;
                }
            }
        }
    }
}
