.posts-container {
  padding: 0 28px;
  color: white;
}

.posts-container .my-post {
  width: 100%;
  position: relative;
  margin: 3rem auto;
  color: black;
}

.posts-container .my-post .icon {
  max-width: 100%;
  position: absolute;
  left: -2rem;
  top: 1.2rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

.posts-container .my-post .message-content {
  display: inline-block;
  position: relative;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  background: #f8faff;
  margin-left: 2rem;
  width: 100%;
}

.posts-container .my-post .message-content::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 28px;
  left: -22px;
  border: 12px solid transparent;
  border-right: 12px solid #f8faff;
}

.posts-container .my-post .message-content .edit-field {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.posts-container .my-post .message-content .edit-field .edit-textarea {
  border-radius: 4px;
  background-color: #f8faff;
  width: 100%;
}

.posts-container .my-post .message-content p {
  margin: 0.3rem auto;
}

.posts-container .my-post .message-content .side-bar {
  text-decoration: none;
  width: 100%;
}

.posts-container .my-post .message-content .side-bar .react-icon {
  text-decoration: none;
}

.posts-container .my-post .message-content .side-bar .icon-count {
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
  margin-right: 0.2rem;
}

.posts-container .my-post .message-content .side-bar .icon-text {
  text-decoration: none;
  color: black;
  font-size: 0.4rem;
  margin-right: 0.4rem;
}

.posts-container .my-post .message-content .side-bar .delete-icon {
  color: #353434;
  text-decoration: none;
  font-size: 0.3rem;
}

.posts-container .my-post .message-content .side-bar .js-edit-button {
  cursor: pointer;
  margin-right: 1rem;
  font-size: 0.4rem;
  padding: 0.3rem;
}

.posts-container .new-post {
  position: relative;
  width: 100%;
}

.posts-container .new-post .post_form-text {
  width: 100%;
  border: 4px double #ddd;
  margin: 2rem 0;
  padding: 0;
  position: absolute;
}

.posts-container .new-post .send {
  font-size: 1rem;
  background: transparent;
  border: 1px solid #f7f0f0;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 42px;
  text-decoration: none;
  margin: 1rem auto;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  vertical-align: middle;
  width: 20%;
}

.posts-container .new-post .send:hover {
  background: #ccbf0f;
  text-decoration: none;
}

.nav-footer {
  height: 50px;
  position: fixed;
  display: block;
  background: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-footer ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-footer ul li:hover {
  border-top: 5px solid #f8e750;
}

.nav-footer ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 50px;
  color: #213074;
}

.nav-footer ul li a:hover,
.nav-footer ul li a :focus {
  text-decoration: none;
  color: #dab927;
  background-color: #fffffe;
}

.nav-footer ul li a i {
  font-size: 18px;
}

.nav-footer ul li a span {
  font-size: 12px;
  line-height: 1.2;
}
/*# sourceMappingURL=posts.css.map */