.profiles-header {
    font-size: 1rem;
    text-align: center;
    position: relative;
    top: 0;
    img {
        height: 160px;
        margin: 1.5rem auto;
        object-fit: cover;
        width: 160px;
    }
    .profile-content {
        font-size: 1.4rem;
    }
    .input-form {
        text-align: left;
        width: 100%;
    }
    .edit-input {
        font-weight: 500;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border: 2px solid white;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 30px;
        width: 100%;
        box-sizing: border-box;
        outline: 0;
        &:focus {
            border: 2px solid white;
        }
    }
}
.profiles-footer {
    text-align: center;
    .edit-btn {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 40px;
        color: white;
        font-weight: 400;
        letter-spacing: 5px;
        line-height: 42px;
        text-decoration: none;
        margin: 10px auto;
        padding: .5rem 1rem;
        text-align: center;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        vertical-align: middle;
        width: 80%;
        &:hover {
            background: rgb(204, 191, 15);
            text-decoration: none;
        }
    }
}
